<section>
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>String renderizada com interpolação: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
        <p>Resultado de 1 + 1 é: {{ getResult() }}</p>
    </article>
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImg }}" alt="">
        <img [src]="urlImg" alt="">
    </article>
    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">sucess</option>
                <option value="alert-info">info</option>
                <option value="alert-warning">warning</option>
                <option value="alert-danger">danger</option>
            </select>

            <div class="alert {{ classe.value }}">Texto colorido conforme valor do combox</div>

            <div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Texto de erro</div>

            <div class="alert" role="alert" [class.alert-success]="classe.value=='alert-success'">success</div>
            <div class="alert" role="alert" [class.alert-info]="classe.value=='alert-info'">info</div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value=='alert-warning'">warning</div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value=='alert-danger'">danger</div>            
        </div>
    </article>
    <article>
        <h3>Event Binding</h3>
        <div>
            <button class="btn btn-primary" (click)="botaoClicado()">Me clique!</button>
            <br>
            <br>
            <input type="text" #campoInput
                (keyup)="onKeyUp($event)" 
                (keyup.enter)="salvarValor($event.target.value)"
                (blur)="salvarValor(campoInput.value)">
            <p>Valor atual: {{ valorAtual }}</p>
            <p>Valor salvo: {{ valorSalvo }}</p>
            <span 
                (mouseover)="onMouseOverOut()"
                (mouseout)="onMouseOverOut()"
                [class.highlight]="isMouseOver">
                Passe o mouse sobre mim!
            </span>
        </div>
    </article>
</section>

<section>
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <input type="text" 
                [value]="nome"
                (input)="nome = $event.target.value">
            <input type="text" 
                [ngModel]="nome"
                (ngModelChange)="nome = $event">
            <input type="text" 
                [(ngModel)]="nome">
            <p>Vocē digitou: {{ nome }}</p>
        </div>
        <div>
            <p>Meu nome é: <strong>{{ pessoa.nome }}</strong> e tenho <strong>{{ pessoa.idade }}</strong> anos</p>
            <input type="text" [(ngModel)]="pessoa.nome">
            <input type="text" [(ngModel)]="pessoa.idade">
        </div>
    </article>
</section>

<section>
    <article>
        <h3>Input/Output Property</h3>
        <app-input-property [curso]="nomeDoCurso"></app-input-property>
    </article>
    <article>
        <app-output-property (mudouValor)="onValorChanged($event)"></app-output-property>
    </article>
</section>